@font-face{
    font-family: Karla;
    src: url('../single-price/fonts/Karla-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: Karla;
    src: url('../single-price/fonts/Karla-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 
    --colorWhite: #ffffff; 
    --colorCyan: hsl(179, 62%, 43%);
    --colorBrightyellow: hsl(71, 73%, 54%);
    --colorLightgray: hsl(204, 43%, 93%);
    --colorGrayishblue: hsl(218, 22%, 67%);
    --colorCyanO: #4bbbba;
}

body {
    font-size: 16px;
    background: var(--colorLightgray);
    font-family: Karla;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.main {
    background: var(--colorWhite);
    box-shadow: 0 0 0.5rem hsla(217, 22%, 67%, 0.685);
    border-radius: 0.5rem;
    display: grid;
    margin: 2rem 2rem;
    gap: 0rem;
    width: 41rem;
    height: 33rem;
}

.content__title {
    color: var(--colorCyan);
    padding: 2.5rem 2rem 0rem 2rem;
}

.content__details {
    color: var(--colorBrightyellow);
    padding: 2rem 2.5rem 0rem 2rem;
}

.content__description {
    color: var(--colorGrayishblue);
    padding: 2rem 4rem 2.5rem 2rem;
    line-height: 2rem; 
    text-align: justify;
}

.content-item {
    color: var(--colorWhite);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 0rem;
}

.content-subscription {
    background: var(--colorCyanO);
    border-bottom-left-radius: 0.5rem;
}

.subscription__title {
    padding: 2rem 2.5rem 0rem 2rem;
}

.div-price {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 0.1rem;
}

.subscription__price {
    padding: 1rem 0.3rem 0rem 2rem;
    font-size: 2rem;
}

.subscription__time {
    color: var(--colorLightgray);
    font-size: 0.8rem;
    padding: 2rem 0rem 0rem 0rem;
}

.subscription__description {
    color: var(--colorLightgray);
    padding: 1rem 2rem 2rem 2rem;
}

.content-button {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    background: var(--colorBrightyellow);
    color: var(--colorWhite);
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    width: 17rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.05rem;
    grid-column-start: 2;
    box-shadow: 0 0 0.5rem hsla(217, 22%, 67%, 0.685);
}

.content-reason {
    background: var(--colorCyan);
    border-bottom-right-radius: 0.5rem;
}

.content-reason__title {
    padding: 2rem 2.5rem 1rem 2.5rem;
}

.content-reason__list {
    list-style: none;
    padding: 1rem 4.55rem 2rem 2.5rem;
}

.content-reason__list a {
    color: var(--colorLightgray);    
    text-decoration: none;
}

@media(max-width:23.4rem) {
    .wrapper {
        height: 58rem;
        margin: 2rem;
    }
    .main {
        height: 55.8rem;
        margin: 2rem;
    }
    .content-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }

    .content-subscription {
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
    }

    .content-reason {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .content-reason__list {
        list-style: none;
        padding: 1rem 5.6rem 2rem 2.5rem;
    }
}
