@font-face{
    font-family: Karla;
    src: url('../single-price/fonts/Karla-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: Karla;
    src: url('../single-price/fonts/Karla-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 
    --colorWhite: #ffffff; 
    --colorCyan: hsl(179, 62%, 43%);
    --colorBrightyellow: hsl(71, 73%, 54%);
    --colorLightgray: hsl(204, 43%, 93%);
    --colorGrayishblue: hsl(218, 22%, 67%);
    --colorCyanO: #4bbbba;
}

body {
    font-size: 16px;
    background: var(--colorLightgray);
    font-family: Karla;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.main {
    background: var(--colorWhite);
    box-shadow: 0 0 15px hsla(217, 22%, 67%, 0.685);
    border-radius: 8px;
    display: grid;
    margin: 2.5rem 2.5rem;
    gap: 2rem;
    width: 35rem;
    height: 27rem;
}

.content__title {
    color: var(--colorCyan);
    padding: 1rem 1rem 0rem 1rem;
}

.content__details {
    color: var(--colorBrightyellow);
    padding: 1rem 1rem 0rem 1rem;
}

.content__description {
    color: var(--colorGrayishblue);
    padding: 1rem 1rem 0rem 1rem;
}

.content-item {
    color: var(--colorWhite);
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
}

.content-subscription {
    background: var(--colorCyanO);
    border-bottom-left-radius: 8px;
}

.subscription__time {
    color: var(--colorLightgray);
}

.subscription__description {
    color: var(--colorLightgray);
}

.button {
    background: var(--colorBrightyellow);
    color: var(--colorWhite);
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 3rem;
}

.content-reason {
    background: var(--colorCyan);
    border-bottom-right-radius: 8px;
}

.content-reason__list {
    list-style: none;
}
.content-reason__list a {
    color: var(--colorLightgray);    
    text-decoration: none;
}

@media(max-width:25rem) {
    .content-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }
}
